<div class="container">
  <ngb-tabset type="pills">
    <ngb-tab title="My Requests">
      <ng-template ngbTabContent>
        <hr>
          <ul class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Requests for Me">
      <ng-template ngbTabContent>
        <hr>
          <ul class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>