.bookshelf {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 20px;
}

img {
    height: 200px;
}

.user_books-header {
    margin-top: 20px;
    display: flex;
}

app-add-book-modal {
    position: absolute;
    right: 15px; 
    align-self: center;
}