<div class="user_books-header">
  <h1>My Books</h1>
  <app-add-book-modal [user]="user"></app-add-book-modal>
</div>
<hr class="my-4">
<div class="bookshelf">
  <div class="card" *ngFor="let book of booksToDisplay">
    <img class="card-img-top" src="{{ book.image }}" alt="Card image cap" />
  </div>
</div>
<div class="alert alert-info" role="alert" *ngIf="books.length === 0">
  You don't have any saved books.  Click the button above to add your first book!
</div>
<ngb-pagination [collectionSize]="numBooks" [pageSize]="pageSize" [(page)]="currentPage" size="lg" class="d-flex justify-content-center" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadBooks($event)"></ngb-pagination>