<div class="jumbotron">
  <h1 class="display-4">Book Club</h1>
  <p class="lead">The Book Club allows users to share their book collections with others.  Browse the available books, find a book you like, and send the owner a request to borrow!</p>
  <hr class="my-4">
  <p>This project was completed as part of the Free Code Camp Dynamic Web Applications Curriculum.  The user stories for this project are:</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">I can view all books posted by every user.</li>
    <li class="list-group-item">I can add a new book.</li>
    <li class="list-group-item">I can update my settings to store my full name, city, and state.</li>
    <li class="list-group-item">I can propose a trade and wait for the other user to accept the trade.</li>
  </ul>
  <a class="btn btn-primary btn-lg" href="#" role="button">Get Started!</a>
</div>